# Dependencies
node_modules/

# Compiled output
build/
dist/

# Runtime data
package-lock.json
yarn.lock

# Test coverage
coverage

# Logs
npm-debug.log*
yarn-error.log*
lerna-debug.log*

# Editors and IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store
Thumbs.db
